*{
    background-color: #E5E5E5;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    column-gap: 34px;
}

.items{
    background-color: #D9D9D9;
}

.item-1{
grid-row-start: 1;
grid-row-end: 3;
width: 634px;
height: 560px;
}

.item-2{ 
  width: 300px;
  height: 261px;
}

.item-3{
    width: 300px;
    height: 261px;
}

.item-4{
    width: 300px;
    height: 261px;
    margin-top: 38px;
}

.item-5{
    width: 300px;
    height: 261px;
    margin-top: 38px;
}

.item-6{
    width: 634px;
    height: 238px;
    margin-top: 31px;
}

.content a{
    color: #000000;
    position: absolute;
    font-size: 42px;
    z-index: 2;
    right: 75px;
    font-weight: 400;
    top: 850px;
}


.content .item-7 img{
    position: absolute;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 697px;
    height: 238px;
    margin-top: 31px;
    z-index: 1;
}